name: CD Workflow

on: 
  pull_request:
    branches:
      - 'main'
      
jobs:
  cd-deploy-test:
    name: Deploy to TEST
    runs-on: ubuntu-latest
    environment: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
           python-version: '3.12'

      - name: Install databricks CLI
        run: curl -fsSL https://raw.githubusercontent.com/databricks/setup-cli/main/install.sh | sh
            
      - name: Install Dependencies
        run: |
            pip install --upgrade pip
            pip install setuptools wheel
            
      - name: Configure Databricks
        run: | 
            cat <<EOF> ~/.databrickscfg
            [TEST]
            host  = https://adb-7405617174336907.7.azuredatabricks.net/
            azure_client_id = ${{secrets.AZURE_CLIENT_ID}}
            azure_tenant_id = ${{secrets.AZURE_TENANT_ID}}
            azure_client_secret = ${{secrets.AZURE_CLIENT_SECRET}}
            EOF
            
      - name: Deploy to TEST
        run: |
           databricks bundle deploy --target test --profile TEST
     
  cd-deploy-prod:
    name: Deploy to PROD
    needs: cd-deploy-test
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
           python-version: '3.12'

      - name: Install databricks CLI
        run: curl -fsSL https://raw.githubusercontent.com/databricks/setup-cli/main/install.sh | sh
            
      - name: Install Dependencies
        run: |
            pip install --upgrade pip
            pip install setuptools wheel
            
      - name: Configure Databricks
        run: | 
            cat <<EOF> ~/.databrickscfg
            [PROD]
            host  = https://adb-7405610128457150.10.azuredatabricks.net/
            azure_client_id = ${{secrets.AZURE_CLIENT_ID}}
            azure_tenant_id = ${{secrets.AZURE_TENANT_ID}}
            azure_client_secret = ${{secrets.AZURE_CLIENT_SECRET}}
            EOF
            
      - name: Deploy to PROD
        run: |
           databricks bundle deploy --target prod --profile PROD
